fastapi
uvicorn

langchain
langchain-community
langchain-core
langserve

langsmith

chromadb

sentence-transformers
huggingface-hub

faiss-cpu

ollama

python-dotenv

pydantic

tiktoken

GitPython

unstructured

pypdf

pytest

langchain-huggingface

langchain-chroma

langchain-text-splitters